*{
    margin: 0;
    font-family: Futura;
}
::-webkit-input-placeholder{
    font-weight: bold;
}
body{
    background: url('./img/ArteBG.png') no-repeat;
    background-size: 100%;
    background-color: #3b9fa4;
}
#logo{
    height: 150px;
}
#textodieta{
    color: white;
    text-align: center;
}
#form-final{
    display: none;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    color: white;
}
.form-control{
    margin-bottom: 10px;
    border-style: none;
    background: none;
    color: white;
    border-radius: 0;
    border-bottom-style: outset;
    padding-left: 45px;
}
#resultados{
    display: none;
}
#genero{
    width: 70%;
    height: 268px;
    display: flex;
    text-align: center;
    margin-left: 15%;
    color: white;
}
#genero-male{
    width: 100%;
    height: 268px;
    background: url('./img/male.png') no-repeat;
    background-size: 100%;
    opacity: 0.6;
    flex-grow: 1;
}
#genero-female{
    width: 100%;
    height: 268px;
    background: url('./img/female.png') no-repeat;
    opacity: 0.6;
    flex-grow: 1;
    background-size: 100%;
}
#genero-or{
    flex-grow: 1;
    text-align: center;
    margin-top: 15%;
    color: white;
    font-size: 30px;
}
#genero-male:hover   {
    opacity: 1;
}
#genero-female:hover   {
    opacity: 1;
}
#atividade-diaria{
    display: none;
    text-align: center;
    color: white;
}

.atividade-diaria{
    cursor:pointer;
    display: inline-block;
    margin: 10px;
    background: url('./img//ArtePerguntas.png');
    background-size: 100% 100%;
    width: 295px;
    height: 70px;
    text-align: center;
}
.atividade-diaria:hover{
    background-image: url(./img/ArtePerguntasBg.png);
    border-radius: 35px;
}
input.inner-icon {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}

input.cake-icon {
    background-image: url(./img/cake-icon.png);
}
input.height-icon {
    background-image: url(./img/height-icon.png);
}
input.weight-icon {
    background-image: url(./img/weight-icon.png);
}
.form-control:focus{
    background: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}
.painel-resultados{
    width: 70%;
    margin-left: 15%;
    height: 473px;
}
.painel-resultados .col{
    background-color: #0b4b50;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    color: white;
}
#img-agua{
    width: 70%;
    height: 50%;
    margin-left: 15%;
    background-image: url(./img/water-diagram.png) ;
    background-repeat: no-repeat;
    background-position: left center;
}