@font-face {
    font-family: Montserrat;
    src: url(./fontes/Montserrat-BoldItalic.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(./fontes/OpenSans-Regular.ttf);
}
*{
    margin: 0;
}
::-webkit-input-placeholder{
    font-weight: bold;
}
body{
    background: url('./img/ArteBG.png') no-repeat;
    background-size: 100%;
    background-color: #1f975b;
}
#logo{
    height: 150px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-image: url(./img/LogoParaSite.png);
    margin-top: 3%;
    margin-left: 40%;
}
#textodieta{
    color: white;
    font-family: Montserrat;
    text-align: center;
    text-shadow: 2px 2px rgba(000, 000, 000, 0.5);
}
#form-final{
    display: none;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    color: white;
}
.form-control{
    margin-bottom: 10px;
    border-style: none;
    background: none;
    color: white;
    border-radius: 0;
    border-bottom-style: outset;
    padding-left: 45px;
}
#resultados{
    display: none;
}
#genero{
    font-family: OpenSans;
    width: 70%;
    height: 268px;
    display: flex;
    text-align: center;
    margin-left: 15%;
    color: white;
}
#genero-male{
    width: 100%;
    height: 268px;
    background: url('./img/male.png') no-repeat;
    background-size: 100%;
    opacity: 0.6;
    flex-grow: 1;
}
#genero-female{
    width: 100%;
    height: 268px;
    background: url('./img/female.png') no-repeat;
    opacity: 0.6;
    flex-grow: 1;
    background-size: 100%;
}
#genero-or{
    flex-grow: 1;
    text-align: center;
    margin-top: 15%;
    color: white;
    font-size: 30px;
}
#genero-male:hover   {
    opacity: 1;
}
#genero-female:hover   {
    opacity: 1;
}
#atividade-diaria{
    display: none;
    font-family: OpenSans;
    text-align: center;
    color: white;
}
#procedimento-emagrecimento{
    display: none;
    text-align: center;
    color: white;
    font-family: OpenSans;
}
#gordura-corpo{
    display: none;
    text-align: center;
    color: white;
    font-family: OpenSans;
}
.atividade-diaria{
    cursor:pointer;
    display: inline-block;
    margin: 10px;
    background: url('./img//ArtePerguntas.png');
    background-size: 100% 100%;
    width: 295px;
    height: 70px;
    text-align: center;
    font-family: OpenSans;
}
.atividade-diaria:hover{
    background-image: url(./img/ArtePerguntasBg.png);
    border-radius: 35px;
}
#form-final{
    background-color: #112f43;
    font-family: OpenSans;
    border-radius: 25px;
    box-shadow: inset 0 0 15px rgba(000, 255, 255, 0), 0 0 15px rgba(000, 000, 000, 0.5);
}
input.inner-icon {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}
input.cake-icon {
    background-image: url(./img/cake-icon.png);
}
input.height-icon {
    background-image: url(./img/height-icon.png);
}
input.weight-icon {
    background-image: url(./img/weight-icon.png);
}
.form-control:focus{
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-continuar{
    padding-right: 10%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(./img/SetaParaBotão.png);
    background-color: #00aca1;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}
#texto-resumo{
    text-align: center;
    color: white;
    margin: 20px;
    font-family: Montserrat;
}
.painel-resultados{
    width: 70%;
    margin-left: 15%;
    height: 473px;
}
.painel-resultados .col{
    background-color: #112f43;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    color: white;
    text-align: center;
    box-shadow: inset 0 0 15px rgba(000, 255, 255, 0), 0 0 15px rgba(000, 000, 000, 0.5);
}
#img-agua{
    width: 100%;
    height: 50%;
    text-align: center;
}
#qtdAgua{
    font-size: 50px;
    background: linear-gradient(0deg, #e60036 0%, #fcbc3c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#imc{
    margin-top: 15%;
    font-size: 50px;
    background: linear-gradient(0deg, #dad64a 0%, #65e990 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#barCalorias{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: auto;
    font-size: 60px;
}
#barCalorias .progressbar-text{
    background: linear-gradient(268deg, #0194f9 0%, #0be6d8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#barCarboidratos{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: auto;
    font-size: 40px;
}
#barCarboidratos .progressbar-text{
    background: linear-gradient(268deg, #f5a814 0%, #fdce78 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#barGorduras{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: auto;
    font-size: 60px;
}
#barGorduras .progressbar-text{
    background: linear-gradient(268deg, #a316eb 0%, #f053c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#barProteinas{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: auto;
    font-size: 40px;
}
#barProteinas .progressbar-text{
    background: linear-gradient(268deg, #93da18 0%, #75f98d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.minimo-maximo{
    font-size: 10px;
}
#btn-dieta{
    text-align: center;
}
#btn-dieta div a input{
    cursor:pointer;
    display: inline-block;
    margin: 10px;
    background: url('./img//ArtePerguntas.png') no-repeat;
    background-size: 100% 100%;
    width: 295px;
    height: 70px;
    text-align: center;
    color: white;
}
#btn-dieta div a input:hover{
    background-image: url(./img/ArtePerguntasBg.png);
}
#btn-ir-dieta{
    text-align: center;
}
#btn-ir-dieta div a input{
    cursor:pointer;
    display: inline-block;
    margin: 10px;
    background: url('./img//ArtePerguntas.png') no-repeat;
    background-size: 100% 100%;
    width: 295px;
    height: 70px;
    text-align: center;
    color: white;
}
#btn-ir-dieta div a input:hover{
    background-image: url(./img/ArtePerguntasBg.png);
}
.antes-depois{
    height: 967px;
    font-family: OpenSans;
}
.antes-depois .col .row .col{
    text-align: center;
    font-family: OpenSans;
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 15px rgba(000, 255, 255, 0), 0 0 15px rgba(000, 000, 000, 0);
}
.antes-depois .col{
    background-color: #112f43;
    margin-top: 10px;
    font-family: OpenSans;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 2px;
    box-shadow: inset 0 0 15px rgba(000, 255, 255, 0), 0 0 15px rgba(000, 000, 000, 0.3);
    text-align: justify;
}
.antes-depois .col span{
    color: grey;
    font-family: OpenSans;
}
.img-01{
    height: 444px;
    background-size: 97%;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-image: url(./img/Antes-E-Depois.png);
}
.img-02{
    height: 444px;
    background-size: 97%;
    margin-left: 3%;
    background-repeat: no-repeat;
    background-image: url(./img/Antes-E-Depois2.png);
}
.antes-depois .col p{
    font-family: OpenSans;
    color: white;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.antes-depois .col h5{
    font-family: Montserrat;
    color: white;
}
.antes-depois .col h6{
    font-family: Montserrat;
    color: white;
}
#espacamento{
    margin: 0;
    background: transparent;
    border-radius: 0px;
    box-shadow: inset 0 0 15px rgba(000, 255, 255, 0), 0 0 15px rgba(000, 000, 000, 0);
}
#barra-progresso{
    background: linear-gradient(271deg, #dad64a 0%, #65e990 100%);
}
#progresso{
    margin-left: 10%;
    width: 80%;
}
#computador-celular img{
    width: 100%;
}
#frases-copy img{
    width: 100%;
    margin-right: 10px;
}
#frases-copy{
    font-family: OpenSans;
    color: white;
    text-align: justify;
}
#frases-copy .row{
    border-bottom: #112f43 1px solid;
}
#frases-copy .row .col-9{
    padding-top: 40px;
}
.titulo-frases-copy{
    text-align: center;
    font-family: Montserrat;
    margin-top: 30px;
    color: white;
}
#copys img{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
#copys{
    font-family: OpenSans;
    color: white;
    text-align: justify;
}
#copys .row .col .row .col-lg-10{
    margin-top: 50px;
    font-family: OpenSans;
}
#copys .row .col h3{
    text-align: center;
    font-family: Montserrat;
    margin-top: 30px;
}
#espacamento-progresso{
    height: 0px;
}

/** Media queries **/ 

@media (max-width: 414px){

    #logo{
        background-size: 60%;
        margin-left: 30%;
        height: 100px;
    }
    #genero-or{
        margin-top: 0px;
    }
    #genero-male{
        opacity: 1;
    }
    #genero-female{
        opacity: 1;
    }
    #form-final{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 240px;
    }
    .btn-continuar{
        padding-right: 15%;
    }
    .painel-resultados{
        margin-bottom: 45%;
    }
    .calorias-carboidratos{
        margin-bottom: 35%
    }
    #barCalorias{
        font-size: 40px;
    }
    #barCarboidratos{
        font-size: 25px;
    }
    #barGorduras{
        font-size: 50px;
    }
    #barProteinas{
        font-size: 25px;
    }
    #imc{
        margin-top: 10%;
        margin-bottom: 25%;
    }
    .qtdAgua{
        margin-top: 10%;
    }
    .antes-depois{
        margin-top: 100%;
        margin-left: 1%;
    }
    #btn-dieta{
        margin-top: 10%;
    }
    #btn-ir-dieta{
        margin-left: 0;
    }
    #texto-resumo{
        margin: 0;
        padding: 0;
    }
    #progresso{
        margin-top: 350px;
        margin-bottom: 20px;
    }
    #copys{
        margin-top: 1100px;
    }
    #copys img{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10px;
    }
    #copys .row .col .row .col-lg-10{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #frases-copy{
        margin-left: 2%;
    }
}
@media (max-width: 1200px){
    #copys{
        margin-top: 110px;
    }
}
@media (max-width: 992px){
    #copys{
        margin-top: 850px;
    }
    #copys img{
        width: 40%;
        margin-left: 30%;
    }
    #copys .row .col .row .col-lg-10{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #barCalorias{
        font-size: 40px;
    }
    #barCarboidratos{
        font-size: 25px;
    }
    #barGorduras{
        font-size: 50px;
    }
    #barProteinas{
        font-size: 25px;
    }
}
@media (max-width: 767px){
    #logo{
        background-size: 60%;
        margin-left: 30%;
        height: 100px;
    }
    #genero-or{
        margin-top: 0px;
    }
    #genero-male{
        opacity: 1;
        height: 360px;
    }
    #genero-female{
        opacity: 1;
        height: 360px;
    }
    #form-final{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 240px;
    }
    .btn-continuar{
        padding-right: 15%;
    }
    .painel-resultados{
        margin-bottom: 65%;
    }
    .calorias-carboidratos{
        margin-bottom: 65%;
    }
    #barCalorias{
        font-size: 40px;
    }
    #barCarboidratos{
        font-size: 25px;
    }
    #barGorduras{
        font-size: 50px;
    }
    #barProteinas{
        font-size: 25px;
    }
    #imc{
        margin-top: 10%;
        margin-bottom: 25%;
    }
    .qtdAgua{
        margin-top: 10%;
    }
    .antes-depois{
        margin-top: 100%;
        margin-left: 1%;
    }
    #btn-dieta{
        margin-top: 10%;
    }
    #btn-ir-dieta{
        margin-left: 0;
    }
    #texto-resumo{
        margin: 0;
        padding: 0;
    }
    #progresso{
        margin-top: 550px;
        margin-bottom: 20px;
    }
    #copys{
        margin-top: 1100px;
    }
    #copys img{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10px;
    }
    #copys .row .col .row .col-lg-10{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #frases-copy{
        margin-left: 2%;
    }
}